<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.com/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Create Tag</title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>
<header th:replace="fragments :: admin-header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${tag.name}" class="form-control">
        </label>
        <span th:errors="${tag.name}" class="error"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>