<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Delete Tags</h1>

<header th:replace="fragments :: admin-header"></header>

<form method="post">
    <th:block th:each="tag : ${tags}">
        <div class="form-group">
            <label>
                <span th:text="${tag.name}"></span>
                <input type="checkbox" name="tagIds" th:value="${tag.id}" class="form-control">
            </label>
        </div>
    </th:block>
    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>