<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>

<header th:replace="fragments :: admin-header"></header>

<table>
    <thead>
    <tr>
        <th>Volunteers</th>
    </tr>
    </thead>
    <tr th:each="volunteer : ${volunteers}">
        <td><a th:href="'/volunteers/detail?volunteerId=' + ${volunteer.id}" th:text="${volunteer.username}"></a></td>

    </tr>
</table>

</body>
</html>