<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th=“http://www.thymeleaf.org”
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Volunteer</title>
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>

<header th:replace="fragments :: admin-header"></header>

<table>
    <thead>
    <tr>
        <th>Volunteers</th>
    </tr>
    </thead>
    <tr th:each="volunteer : ${volunteers}">
        <td><a th:href="'/volunteers/detail?volunteerId=' + ${volunteer.id}" th:text="${volunteer.username}"></a></td>

    </tr>
</table>

</body>
</html>