<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>
<h1>This is what the user's detail page will look like.</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <th>Username</th>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <th>First Name</th>
        <td th:text="${user.firstname}"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td th:text="${user.lastname}"></td>
    </tr>
    <tr>
        <th>Contact Email</th>
        <td th:text="${user.email}"></td>
    </tr>
<!--    <tr>-->
<!--        <th>Tags</th>-->
<!--        <td>-->
<!--            <span th:each="tag : ${tags}" th:text="${tag.displayName} + ' '"></span>-->
<!--        </td>-->
<!--    </tr>-->
</table>
</body>
</html>