<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th=“http://www.thymeleaf.org”
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Users</title>
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>
<p>This page will be for searching for users by tags.</p>

<table class="table">
    <thead>
    <tr>
        <th>Users by Cause</th>
    </tr>
    </thead>
    <tr th:each="user : ${users}">
        <td><a th:href="'/users/detail?userId=' + ${user.id}" th:text="${user.username}"></a></td>
    </tr>

</table>
</body>
</html>