div {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    text-align: center;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}