<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.com/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Company Details</title>
</head>
<body>

<a class="nav-link" href="/list-companies">Back to List Companies by Cause</a></a>

<div class="company-listing">
    <p th:text="${'ID: ' + company.id}"></p>
    <p th:text="${'Company Name: ' + company.name}"></p>
<!--    <p th:text="${'Contact Email: ' + company.email}"></p>-->
    <p>Contact Email:</p>
    <a th:href="${'mailto:' + company.email}" th:text="${company.email}"></a>
    <p> Causes:
    <ul th:each="tag : ${company.tags}">
        <li th:text="${tag.name}"></li>
    </ul>
    </p>
</div>
</body>
</html>