<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <!--    Adding Bootstrap styling-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8"/>
    <title>Organization Dashboard</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<br>
<br>
<br>
<header th:replace="fragments :: company-header"></header>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<p> This is your company profile page. You'll be able to view your profile here, and make changes. For now, your only
    option is to...</p>


<form th:action="@{/logout}" method="post">
    <button class="btn btn-lg btn-primary" type="submit">Sign Out</button>
</form>
</body>
</html>