<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Organization Dashboard</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div style="margin-top: 5%">
    <header th:replace="fragments :: company-header"></header>
</div>
<div style="margin-top: 5%">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
<div style="margin-top: 1%">
    <p> This is the organization dashboard. Here, organizations can view a list of helpr causes, add or remove causes
        from their profile, and search our DB for helpr volunteers.</p>
</div>
<div style="margin-top: 2%">
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-lg btn-primary" type="submit">Sign Out</button>
    </form>
</div>
</body>
</html>