<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Profile</title>
</head>
<body>
<h1>Edit Profile</h1>
<span class="input-group-text">First and Last Name</span>
<div class="input-group">
    <input type="text" aria-label="First Name" class ="form-control">
    <input type="text" aria-label="Last Name" class ="form-control">
</div>
<!--<div class="md-form">-->
<!--    <label class="d-flex">Username or Organization Name</label>-->
<!--    <input type="text" name="userName" class="form-control validate">-->
<!--</div>-->
<div class="form-check">
    <!-- here I believe we can call the id for our boolean class -->
    <input class="form-check-input" type="checkbox" value="" id="organizationBoolean">
    <label class="form-check-label">Are you registering as an Organization?</label>
</div>
<!--<div class="form-check">-->
<!--    <label for="email" class="d-flex">Email</label>-->
<!--    <input type="email" id="email" name="email" class="form-control">-->
<!--</div>-->
<!--<div class="md-form">-->

<!--    <label for="password" class="d-flex">Password</label>-->
<!--    <input type="password" id="password" name="password" class="form-control validate">-->
<!--</div>-->
<!--<div class="md-form">-->
<!--    <label for="password2" class="d-flex">Confirm password</label>-->
<!--    <input type="password" id="password2" name="password2" class="form-control">-->
<!--</div>-->

<!--<div class="d-flex justify-content-end">-->
<!--    &lt;!&ndash; Placeholder for now to hold the format together &ndash;&gt;-->
<!--    <a class="rotate-btn text-primary" data-card="my-card" tabIndex="-3">back to login</a>-->
<!--</div>-->

<!--<div class="text-center">-->
<!--    <button type="submit" class="btn primary-color white-text btn-lg">Create account</button>-->
<!--</div>-->
</body>
</html>