<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link th:href="@{/css/styling.css}" rel="stylesheet" />
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
    <a class="navbar-brand" href="#">helpr</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/index}">
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/user-home}">
                    Dashboard
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/login}">
                    Sign In
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/registration}">
                    Create Account
                </a>
            </li>
        </ul>
    </div>
</nav>

<header th:fragment="admin-header">
    <h1 th:text="${title}">Helpr Admin</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/user-home">Back to User Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Admin Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags">All Causes by Tag</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags/create">Create Tag</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags/delete">Delete Tags</a></li>
        <li class="nav-item"><a class="nav-link" href="/volunteers">All Volunteers</a></li>
        <li class="nav-item"><a class="nav-link" href="/volunteers/create">Create Volunteer</a></li>
        <li class="nav-item"><a class="nav-link" href="/volunteers/delete">Delete Volunteers</a></li>
        <li class="nav-item"><a class="nav-link" href="/companies">All Companies</a></li>
        <li class="nav-item"><a class="nav-link" href="/companies/create">Create Company</a></li>
        <li class="nav-item"><a class="nav-link" href="/companies/delete">Delete Companies</a></li>
    </ul>
</header>
</body>
</html>