<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:margin-top="http://www.w3.org/1999/xhtml" xmlns:text-shadow="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <title>Home</title>
</head>
<body class="bg-light" style="margin-bottom: 80px;">
    <nav th:replace="fragments :: navbar"></nav>
    <div class="text-center bg-image">
        <img class="img-fluid"
             src="https://www.biography.com/.image/c_limit%2Ccs_srgb%2Cfl_progressive%2Ch_2000%2Cq_auto:good%2Cw_2000/MTY0MjcxODQzNzk1MDg1MjU5/505322_fred_francois_pool_10_rc1526492878.jpg"
             style="filter: brightness(80%)">
        <figcaption class="figure-caption">Photo: John Beale/Courtesy of Focus Features</figcaption>
        <div class="d-flex justify-content-center align-items-center">
            <p class="centered text-white font-italic"
               style="font-size: 24px; font-weight: light; margin-top: 150px; text-shadow: 1px 2px 2px black;">
                "All of us, at some time or other, need help. Whether we're giving or receiving help, each one of us has
                something valuable to bring to this world. That's one of the things that connects us as neighbors--in our
                own way, each one of us is a giver and a receiver."<br>-- Fred Rogers --</p>
        </div>
    </div>
    <div class="container">
        <h1 style="text-align: center; margin-top: 30px; font-weight: light;">Calling all helprs</h1><br>
        <p class="text-justify lead" style="margin-top: 50px;">Fred McFeely Rogers, aka Mr. Rodgers, the undisputable
            unofficial official saint of children's programming, would say that in times of crisis, always look for the
            helpers. With all that's going on in the world today, you may feel compelled to come to the aid of others, no
            matter if it's around the corner or around the world.</p>
        <p class="text-justify lead">Whether it's committing random acts of kindness or raising funds for noble causes,
            donating your time, energy or money, you want to do your part to help heal our planet. That's where we
            come in.</p>
        <p class="text-justify lead">If you are hoping to get involved and make a difference in someone's life today,
            please
            join our volunteer portal and connect with others who want to help. Our website will assist you in
            creating and finding causes to support while also connecting you with other like-minded helpers and organizations.</p>
        <p class="text-justify lead" style="margin-bottom: 40px;">By joining helpr, you can be a part of the tremendous
            change that we together are making possible through our volunteer portal. Sign up today and get plugged
            in! Be sure to browse our registry of organizations, causes, and individual helpers to see where and how
            you can get involved. Mr. Rodgers looked for the helpers, and so are we. Join us today and let us know
            how you can help!</p>
        <p class="text-center">Click <a th:href="@{/user-home}">here</a> to sign in!</p>
        <div class="text-center">
            Don't have an account?
            <a th:href="@{/registration}">Create one today!</a>
        </div>
    </div>
    <style>
        .container {
            position: relative;
            text-align: center;
            padding-top: 50px;
            margin: auto;
            width: 550px;
            }

        /* Centered text */

        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          }
    </style>
</body>
</html>