<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container" margin="50x">
    <h1>How Can I Help?</h1>
    <p>Wow, there's a ton of stuff happening in the world, and not all of them are funny cat videos. You may be
        wondering "how can I help make a difference in the world today?" That's a great question, and you've come to the
        right place!</p>
    <p>Our website will help you sort by causes that mean something to you, and then you can get in touch with the
        organizations that work towards those goals. You can work with them to volunteer, donate items or money, or
        just keep in touch with what's going on.</p>
    <p>Click <a th:href="@{/user-home}">here</a> to sign in.</p>

    <div>
        Don't have an account?
        <a th:href="@{/registration}">Create an Account</a>
    </div>
    </div>
</body>
</html>