<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>List Companies</title>
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>

    <div style="margin-top: 5%">
        <header th:replace="fragments :: admin-header"></header>
    </div>

    <div style="margin-top: 4%">
        <h1>Meet our partners!</h1>
        <p>We are thrilled to work with organizations that are helping. Get to know them!</p>
    </div>

    <div class="container" style="margin-top: 5%">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">List By Cause</h5>
                    <div class="card-body">
                        <p class="card-text">Click a cause to see the organizations that support it.</p>
                        <ul class="list-group">
                            <li  th:each="tag : ${tags}" class="d-flex justify-content-center">
                                <a th:href="@{/list-companies/company-results(column=tags,value=${tag.name})}" th:text="${tag.name}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col align-self-start" style="">
                <div class="card">
                    <h5 class="card-header">List All Causes</h5>
                    <div class="card-body">
                        <p class="card-text">View a complete list of all the organizations we work with.</p>
                        <a th:href="@{/list-companies/company-results(column='All',value='View All')}">View All Organizations</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
    </div>
</body>
</html>