<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Login</title>
</head>
<body class="text-center">
    <nav th:replace="fragments :: navbar"></nav>
<!--    <div th:replace="fragments :: headspace"></div>-->
    <div>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div>
            <h2>Login to help!</h2>
        </div><br><br>
    </div>
    <div>
        <form th:action="@{/login}" class="form-signin" method="post">
            <div>
                <input type="text" class="form-control" placeholder="Username" id="username" name="username" required/>
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                           required/>
            </div><br><br>
            <div>
                <button class="btn btn-lg btn-primary mb-2" type="submit">Sign In</button>
            </div>
        </form>
    </div>
    <style>
        body {
            padding-top: 100px;
            }
        div {
            width: 300px;
            margin: auto;
    </style>
</body>
</html>