<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>
<div style="margin-top: 15%">
    <h1 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]!</h1>
</div>
<div style="margin-top: 1%; text-align: center;">
    <p> This is your user landing page. From here, you'll be able to view your profile and make changes. For
        now, your only option is to...</p>
</div>
<div>
    <form th:action="@{/admin}">
        <button class="btn btn-lg btn-primary" type="submit">View My Dashboard</button>
    </form>
</div>
<div style="text-align: center; margin-top: 2%">
    <p>Or you can also...</p>
</div>
<div>
    <form>
        <button class="btn btn-lg btn-primary" type="submit">Sign Out</button>
    </form>
</div>
</body>
</html>