<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<a class="nav-link" href="/list-volunteers">Back to List Volunteers by Cause</a></a>

<div class="volunteer-listing">
    <p th:text="${'ID: ' + volunteer.id}"></p>
    <p th:text="${'Username: ' + volunteer.username}"></p>
    <p th:text="${'Email: ' + volunteer.email}"></p>

        <p> Causes:
    <ul th:each="tag : ${volunteer.tags}">
        <li th:text="${tag.name}"></li>
    </ul>
    </p>
</div>
</body>
</html>