<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th=“http://www.thymeleaf.org”
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Create Tag</title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>
<header th:replace="fragments :: admin-header"></header>

<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${companyTag.company}">
        <select th:field="${companyTag.tag}">
            <option th:each="tag : ${tags}"
                    th:value="${tag.id}"
                    th:text="${tag.name}"
            ></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success" value="Add Tag">
</form>

</body>
</html>