<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head">
    <title>Create Organization</title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>

    <br>
    <br>

<header th:replace="fragments :: admin-header"></header>

<form method="post">
    <div class="form-group">
        <label>Company Name
            <input th:field="${company.name}" class="form-control">
        </label>
        <p class="error" th:errors="${company.name}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email Address
            <input th:field="${company.email}" class="form-control">
        </label>
        <p class="error" th:errors="${company.email}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>