<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<head th:replace="fragments :: head">
    <nav th:replace="fragments :: navbar"></nav>
    <br>
    <br>
<header th:replace="fragments :: admin-header"></header>

<table>
    <thead>
    <tr>
        <th>Companies</th>
    </tr>
    </thead>
    <tr th:each="company : ${companies}">
        <td><a th:href="'/companies/detail?companyId=' + ${company.id}" th:text="${company.name}"></a></td>

    </tr>
</table>

</body>
</html>