
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>All Organizations</title>
</head>
<body>
<nav th:replace="fragments :: navbar"></nav>

<div style="margin-top: 5%">
    <header th:replace="fragments :: admin-header"></header>
</div>

<div style="margin-top: 5%">
    <h1>All Organizations</h1>
</div>

<div class="list-group" style="margin-top: 5%">
    <div th:each="company : ${companies}">
        <a href="#" class="list-group-item list-group-item-action"><td th:text="${company.name}"></td></a>
    </div>
</div>

</body>
</html>